.tile {
  width: var(--tile-size);
  height: var(--tile-size);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: rem(4px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
    border-radius: var(--mantine-radius-lg);
    user-select: none;
  }
}
