.worldMapContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;

  .worldMap {
    width: calc(var(--tiles-per-row) * var(--tile-size));
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow: auto;
    position: absolute;
  
    .worldMapRow {
      display: flex;
      gap: 8px;
    }
  }
}
