.navbar {
  height: calc(var(--navbar-height));
  padding: var(--mantine-spacing-sm);
  border-bottom: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  display: flex;
  align-items: center;

  .navbarEnd {
    margin-left: auto;
    
    .largeMenu {
      @include smaller-than($mantine-breakpoint-xs) {
        display: none;
      }
    }

    .smallMenu {
      display: block;
      color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
      width: rem(25px);
  
      @include larger-than($mantine-breakpoint-xs) {
        display: none;
      }
    }
  }
}
