:root {
  --sidebar-width: 250px;
  --navbar-height: 60px;
  --navbar-select-width: 200px;

  --reseda-green: #717744;
  --aquamarine: #00F0B5;
  --uranian-blue: #7F7EFF;
  --sky-blue: #68C3D4;
  --mauve: #E2A0FF;
  --rebecca-purple: #5E239D;
  --blood-red: #69140E;
  --cyclamen: #FE5D9F;
  --razzmatazz: #F61067;
  --gold-metallic: #E3C16F;
}
